.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps {
color: #fff;
float: left;
line-height: 26px;
margin-left: 0; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps {
height: 31px;
width: 31px; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:hover,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:hover {
background-color: rgba(0, 0, 0, 0.2);
color: #278efc; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:active,
.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:focus,
.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps.state-selected,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:active,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:focus,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps.state-selected {
border: 1px solid transparent;
color: #278efc; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps .sn-badge,

html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps .sn-badge {
top: -4px;
right: -7px;
position: absolute;
transition: inherit; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps {
color: #fff;
float: left;
line-height: 26px;
margin-left: 0; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps {
height: 31px;
width: 31px; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:hover,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:hover {
background-color: rgba(0, 0, 0, 0.2);
color: #278efc; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:active,
.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:focus,
.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps.state-selected,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:active,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps:focus,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps.state-selected {
border: 1px solid transparent;
color: #278efc; }

.sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps .sn-badge,
html.compact .sn-frameset-header .navbar-collapse .navpage-header-content .btn.icon-all-apps .sn-badge {
top: -4px;
right: -7px;
position: absolute;
transition: inherit; }
